.wrapper {
  margin-bottom: var(--ifm-leading);
}

.wrapper :global(.theme-code-block) {
  margin-bottom: 0;
}

.preview {
  background: var(--prism-background-color);
  color: var(--prism-color);
  box-shadow: var(--ifm-global-shadow-lw);
  border-radius: var(--ifm-code-border-radius);
  overflow: hidden;
}

.previewContent {
  position: relative;
  direction: ltr;
}

.frame {
  display: block;
  width: 100%;
  height: 500px;
  border: 0;
  background: #f9f9f9;
}

.error {
  color: var(--ifm-color-danger-dark);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
